//colors
$color_white: #fff;
$color_gray :rgb(203, 197, 197);
$color_red: red;
$color_gradient_turquoise: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);


//font-family
$font_primary: 'open sans', sans-serif;